$background: './naturebg.jpg';

@font-face {
  font-family: 'Pokemon DPPt';
  src: url('./PokemonDPPt.ttf') format("truetype");
}

$main-font: 'Pokemon DPPt';
$link-color: #B2E36E;
$link-hover: #79CAF9;



@mixin links($link, $visit, $hover, $active) {
  a {
    text-decoration: none;
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;   
    }
    &:active {
      color: $active;
    }
  }
}

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  @include links($link-color, lightgrey, $link-hover, $link-color);
  background: url($background);
  background-attachment: fixed;
  color: white;
  font-size: 1.5em;
  font-family: $main-font;
}

#app {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  color: black;
  text-align: center;
  margin-top: 10px;
}

#listing-container {
  margin: 15px; 
  max-width: 800px;
}

.entry {
  display: flex;
  flex-direction: column;
  background-color: rgba(rgb(78, 92, 131), 0.5);
  margin-top: 20px;
  width: 95%;
  padding: 15px;
  border-radius: 3px;

  .sprites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .circle {
      background-color: rgba(white, 0.3);
      border-radius: 50%;
      margin: 5px;
      cursor: pointer;
    }

    .highlight {
      background-color: rgba($link-color, 1);
    }
  }
}